html{
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    box-sizing: inherit;
}


.calculator{
    /*
    text-align: center;
    */
    
    width: 100%;
    max-width: 320px;
    margin: 40px auto;
    padding: 10px;
    box-sizing: inherit;
    border: 2px solid black;
}

.display{
    border: 2px solid black;
    padding: 20px;
    width: 100%;
    box-sizing: inherit;
    font-size: 2rem;
    text-align: right;
    overflow: hidden;
}

button{
    flex: 1;
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.numbers,
.operators{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    justify-content: center;
}


/*
.numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 2px;
    margin: 2px auto;
    box-sizing: inherit;
}


.operators{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    box-sizing: inherit;
}
*/